*{
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
html{
    font-size: 16px;
}
/*  Header section style in two pages  */
.header-nav{
    padding: 0rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ECEEF2;
}
.logo{
    color:#212631; 
    font-weight: bolder;
    font-size: 2.2rem;
    animation: logo 5s linear 0s infinite normal none;
}
 /* for animation */
@keyframes logo {
    0% {color: white;}
    25% {color: #577d9b;}
    50% {color: #23689b;}
    75% {color: #577d9b;}
    100% {color: #212631;}
    }
  
.nav-list{
    max-width:45%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    color:#212631;
}
.nav-list li{
    font-size:1rem ;
    padding: 1rem 1.15rem;
    border: 1px solid #ECEEF2;
    border-right:none ;
    font-weight: bold;

}


.nav-list :nth-child(3){
    border-bottom: 3px solid #4bb92f;
}
.nav-list :nth-child(4){
    border-bottom: 3px solid #ff8700;
}
.nav-list :nth-child(5){
    border-bottom: 3px solid #0078ff;
}
.nav-list :nth-child(6){
    border-bottom: 3px solid #8d00ff;
    border-right: 1px solid #ECEEF2;

}
.icons{
    max-width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons i{
    padding: 50%;
}

/* Media query to make header responsive */
@media  (max-width: 768px)  {
html{
    font-size: 18px;
}
.header-nav{
  height: 15vh;
}
.logo{
    width:70%;
}
.nav-list{
    display: none;
    visibility: hidden;
    flex-direction: column;
    position: relative;
    top: 250px;
    width:40%;
    right: -500px;
} 
.nav-list.active{
    right:0;
    display: flex;
    visibility: visible;
}
.icons{
  width:20%;
}
.icons i{
  padding: 1rem;
}
.nav-list:active li{
    border-right: 1px solid #ECEEF2;

    }

}
@media  (min-width: 320px) and (max-width: 768px)  {
    .logo{
       font-size: 1.2rem;
    } 
    .icons{
        width:5%;
        padding:5px;
      }
    .nav-list:active
     {
        width:25%;
     }
     .nav-list:active li{
     border-right: 1px solid #ECEEF2;

     }

    }
