*{
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* news title */
.landing-page{
    background-image: url("../images/6.jpg");
    height: 25%; 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-content{
    padding: 5rem;
}
.news-info{
    display: flex;
    padding-bottom: 2rem;
}
.js-button{
    background-color: #ff8700;
    font-weight: bold;
    border-radius: 5%;
    border: none;
    padding: .3rem;
    color: white;
}
.date{
    color: white;
    padding-left: 1rem;
}
.news-title{
    color:white;
    font-weight: bolder;
    font-size: 34px;
}

  /*News Title media query*/
@media (max-width: 1200px) {
    .news-title{
        font-size: 30px;
    }
  }
  @media (max-width: 900px) {
    html{
        font-size: 14px;
      }
      .news-title{
        font-size: 28px;
    }
    
  }
  @media (max-width: 600px) {
    html{
      font-size: 12px;
    }
    .news-title{
        font-size: 18px;
    }
  }