 /* start  style for Featured section */
 .featuerd-down{
    width: 100%;
    background-color: #fbfbfd;
    border-bottom: 1px solid #eceef2;
    border-top: 1px solid #eceef2;   
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.title-featured{
    font-size: 2.5em;
    text-align: center;
    padding: 15px;
}
.featured-posts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
   
}
.post-featured{
    width:25%;
    display:flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

img {
    width: 100%;
    object-fit:contain;
}
a {
    text-decoration: none;
    }
.info-post {
display: flex;
padding-top: 5px;
padding-bottom: 5px;
}
.tag{
    text-transform: uppercase;
    padding: 5px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
}
.date{
    padding: 5px;
    font-size: 0.5em;
    font-weight: 600;
    color: #3d455c;

}
  section article:nth-child(1) .info-post a {
    background-color: #ff8700;

}
section article:nth-child(2) .info-post a {
    background-color: #8d00ff;

}
section article:nth-child(3) .info-post a {
    background-color: #4bb92f;
   
}

.sub-title{
    font-size: 1.1em;
    font-weight: 600;
    color: #212631;

}
 .sub-title:hover {
     text-decoration:underline;
     opacity: 1;
 } 
 a:hover{
     opacity: 0.8;
 }

 /* responsive style */
 @media screen  and (max-width:990px) {

    .post-featured{
     width:100%;
    }
    .sub-title{
        font-size: 0.8em;
        font-weight: 600;
        color: #212631;

    }
    .title-featured{
        font-size: 1.2em;
    }
    .post-featured .info-post .tag{
        font-size: 0.8em;
        padding: 0.3em;
        
    }
    .date{
        padding: 5px;
        font-size: 10em;
        font-weight: 600;
        color: #3d455c;
    
    }
 }

 @media screen  and (min-width:1200px) {

    .post-featured {
        width:25%;

    }
    .sub-title{
        font-size: 1em;
        font-weight: 600;
        color: #212631;

    }
   
 }

/* End  style for Featured section */
.footer{
    display:flex;
    justify-content: space-around;
    padding: 3em;
    width: 100%;
    border-top: 1px solid #F4f4f9; 

}
.informations{
    display: flex;
    flex-direction: column;
    width: 33%;
}

.logo-footer{
    font-size:1.9em;
    color:#212631;
    font-weight: 300;
    text-transform: uppercase;
}
.logo-footer span{
    font-weight: 600;
    color:#212631;
}

.privacy{
    width: 45%;
    display: flex;
    justify-content: space-between;
   
}
.privacy a {
    text-decoration: none;
    color: #a7b3c6;
    font-size: 0.8em;
    font-weight: 600;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.copyright{
    color: #a7b3c6;
    font-size: 0.8em;
    width: 95%;
}

.links-footer{
    display: flex;
    width: 33%;
    justify-content: space-evenly;

}
.links-footer li{
    list-style: none;
    

}
.links-footer li a {
text-decoration: none;

}
.about-text{
    font-size: 1em;
    font-weight: 800;
    color:#212631;
}
.about-us-links ul {
    padding-top:1.5em;
}
.about-us-links ul li a{
    text-decoration: none;
    color: #a7b3c6;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0.7em 0 0.5em 0;
    
}

.Catagories-text{
    font-size: 1em;
    font-weight: 900;
    color:#212631;
}
.Catagories-links ul li a { 
    text-decoration: none;
    color: #a7b3c6;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0.7em 0 0.5em 0;
}


.Catagories-links ul{
    padding-top: 1.5em;
}

.contact{
    width: 33%;
    display: flex;
    flex-direction: column;
}

.send-email{
padding-bottom:1.4em ;
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: 900;
}
.input-email{
    height: 40px;
    border: 2px solid #eceef2;
    width: 100%;
    padding: 0px 0.9em;

}
.icons-footer{
    padding-top: 1em;

}
.icons-footer i{
    width: 1.8em;
    height: 1.8em;
    line-height: 30px;
    text-align: center;
    background-color: #a7b3c6;
    color: #FFF;
    border-radius: 2px;
}

 /* responsive style */
 @media screen  and (max-width:1000px) {
     html{
         font-size: 13px;
     }
    .footer{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 3em;
        width: 100%;
        overflow: hidden;

    }
    .informations{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .links-footer{
        padding-top:1em;
        display: flex;
        width: 100%;
        flex-direction: column;
    
    }
    .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}





    /* start  style for Most Read section */
    .most-read-section{
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .title-most-read{
        font-size: 2.5em;
        padding: 15px;
    }
.left-side{
    width: 60%;

}
.posts {
    display:flex;

}
.img-link{
    width:45%;
    padding: 15px;

}
.posts img{
    width:100%;
}
.detailes-post{
    width:55%;
    padding: 15px;
}

section article:nth-child(2) .info-post a {
    background-color: #ff8700;

}
section article:nth-child(3) .info-post a {
            background-color: #ff8700;


   
}
section article:nth-child(4) .info-post a {
    background-color: #0078ff;


   
}
section article:nth-child(5) .info-post a {
            background-color: #8d00ff;


   
}
.discribtion-post{
    font-size: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;;
    font-weight: 300;

}
.containrt-btn{
    display: flex;
    justify-content: center;
}
.more-btn{
padding: 9px 45px;
border: none;
background-color: #212631;
font-weight: 600;
text-transform: uppercase;
font-size: 13px;
color: #fff;
cursor: pointer;
}
.more-btn:hover{
    
    opacity: 0.8;
    }


    .more-sub-title{
        font-size: 1.2em;
        font-weight: 800;
        color: #212631;
    
    }
     .more-sub-title:hover {
         text-decoration:underline;
         opacity: 1;
     } 
     a:hover{
         opacity: 0.8;
     }


.rigth-side{
    width: 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;


}
.ad-img{
   width: 100%;


}
.title-catgories{
    font-size: 2.5em;
    font-weight: 800;
    color: #212631;
    padding: 1.2em 1.2em 1.2em 0;


}
.catagories{
    display: flex;
    flex-direction: column;

}
.catagories a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    color: #212631;
    padding: 0.2em;
 border-bottom: 1px solid #eceef2;

}
.catagories a .totle {
    font-size: 1em;
    padding: 0.1em;
border: 10px saddlebrown ;    
    }
 .catagories a:nth-child(1) .totle {
background-color: #4bb92f;
border-radius: 0.2em;
color: #fff;

}
.catagories a:nth-child(2) .totle {
    background-color: #ff8700;
    border-radius: 0.2em;
    color: #fff;

    
    }
    .catagories a:nth-child(3) .totle {
        background-color: #0078ff;
        border-radius: 0.2em;
        color: #fff;

        
        }
        .catagories a:nth-child(4) .totle {
            background-color: #8d00ff;
            border-radius: 0.2em;
            color: #fff;

            
            }


.most-read-tags{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1.2em 1.2em 1.2em 0;

}   
.most-read-tags a{
    padding:0.5em;
    border-radius: 0.2em;
    font-size: 1em;
    color: #fff;
    background-color: #212631;
    font-weight: 600;
    margin:0.1em;
    
}   
.most-read-tags a span:nth-child(1){
    padding:0.5em;
    
} 


img {
        width: 100%;
        object-fit:contain;
    }
a {
        text-decoration: none;
        }
.info-post {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    }
.tag{
        text-transform: uppercase;
        padding: 5px;
        color: #fff;
        font-size: 1em;
        font-weight: 700;
        text-align: center;
        border-radius: 3px;
    }
.date{
        padding: 5px;
        font-size: 0.9em;
        font-weight: 600;
        color: #3d455c;
    
    }
    
    
     /* responsive style */
     @media screen  and (max-width:1024px) {
        .most-read-section{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 15px;
        }
        .title-most-read{
            font-size: 1.5em;
            padding: 15px;
        }
        .discribtion-post{
            font-size: 0.8em;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;;
            font-weight: 300;
        
        }
        .more-sub-title{
          font-size: 0.9em;
            font-weight: 800;
            color: #212631;
        
        }
        .detailes-post .info-post .tag {
            font-size: 0.8em;
            padding-bottom: 0.3em;
        }
        .left-side{
            width: 100%;
        
        }
        .rigth-side{
            width: 100%;
    
        }
    }

    /* End  style forMost Read section*/
/*********************** Baner Section*********************/
.baner-section{
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-evenly;
}
.baner-item{
    width:50%;
    margin: 10px;
    background-image: url(../images/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2rem;
    color: #fff;
    font-weight: bold;
}
.second-baner{
    background-image: url(../images/5.jpg); 
}
.baner-item p{
    font-weight: bolder;
    font-size: 1.4rem;
}
.item{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.baner-item button{
   width:90px;
   height: 25px;
   color: #fff;
   border: none;
   background-color: #976EF8;
   font-weight: bold;
   border-radius: 3px;
   text-transform: uppercase;
   margin-right: 10px;
}
.baner-item:first-child button{
    background-color: #F7872B;
}
/* **************************New post section style *********** */
.new-post-section{
    padding: 10px 12px;
}
.new-post-section .title{
    padding:  2rem;
    font-weight: bold;
    font-size: 1.8rem;
}

.new-post-main{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
 
}
.main-img-style {
    width:30%;
    padding-bottom: 2rem;
}
figure img {
    width:100%;
}
.main-img-style button{
    width:90px;
    border: none;
    padding:5px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}
.orange{
    background-color: #F9932C;
}
.blue{
    background-color: #1F84FA;
}
.purble{
    background-color: #A06FFB;
}
.green{
    background-color: #5DC044;
}
.main-img-style p{
   font-weight: bold;
   font-size: 1.2rem;
   padding: 4px;
}
/* **************************News  section style *********** */
.news-section{
    padding: 10px 12px;
    display: flex;
    /* flex-direction: ;. */
}
/* Left side */
.news-main{
    width:70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px;
 }
 .item{
    display: flex;
    justify-content:flex-start;
 }
  .item label{
     margin-left: 7px;
 }
.news-main .main-img-style {
    width:47%;
    padding-bottom: 2rem;
}
.news-main .main-img-style.first-news{
    width:100%;
    margin:15px
}
.news-main  figure img {
    height:45vh;
    object-fit: cover;
}
/* Right side */
.news-aside{
    width:35%;
}
.news-aside .mostRead{
  width: 100%; 

}
.news-aside .mostRead .related-head{
    padding: 7px;
}
.news-aside .related-news{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
    padding:10px;
}
.news-aside .related-news .related-title{
    padding-left:15px;
}
.news-aside .mostRead img{
  width:120px;
  height: 120px;
}
.news-aside .Featured{
    width:100%;
    height: 40vh;
    padding:20px;
}
.FeaturedPosts-aside{
    padding-right: 2rem;
}
.FeaturedPosts-aside :first-child{
    margin-top: 15px;
}
.news-aside .Featured p{
    font-size: 15px;
    font-weight: bold;
}
/* ***************Media query**************** */
@media  (min-width: 320px) and (max-width: 768px)  {

    html{
        font-size: 18px;
    }
/*===========Baner section section==========  */

.baner-section{
    flex-direction: column;
    padding: 1rem 2rem;
}
.baner-item{
  width:100%;
  font-size: 0.6em;
}
.baner-item label{
    margin-top: 5px;
}
.baner-item p{
    font-size: 0.7rem;
}
/*===========  New post section============  */
.main-img-style{
    width:100%;
    padding: 1rem;
}  
.new-post-section  .main-img-style  p{
    font-size: 12px;
    }
    .new-post-section .main-img-style label {
    font-size: 10px;
 }
 .new-post-section .title{
    padding:  1rem;

}
/* =================News Section ================ */
.news-section{
    flex-direction: column;

}
.news-main{
    flex-direction: column;
    margin: 5px;
    width:100%;
 }
 .news-main p{
    font-size: 12px;
    }

.news-main .main-img-style {
    width:100%;
  
}
.news-main .main-img-style.first-news{
    margin: 0;
}
.news-main  figure img {
    height:50vh;
}
.news-aside{
    width:100%;
}

.FeaturedPosts-aside p {
font-size: 1rem;
}
.news-aside .related-news .related-title{
    font-size: 14px;
}

} /* Media close  */
